<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hospital Management System</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Hospital Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/getdoctor}">Doctor </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
	<div class="row">
		<h1> DOCTOR's LIST</h1>
	</div>
	<div class ="row">
		<div class = "col-lg-3">
			<a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3">Add Student</a>
		</div><br>
	</div>
	<table class ="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th>DoctorID</th>
				<th>DoctorName</th>
				<th>Gender</th>
				<th>Qualification</th>
				<th>Specialization</th>
				<th>EmailID</th>
				<th>Mobile</th>
				<th>City</th>
				<th>Actions<th>
			</tr>
		</thead>
		
		<tbody>
		    <tr th:each = "doctor : ${getdoctor}"  >
		    	<td th:text ="${doctor.DoctorID}"></td>
		        <td th:text ="${doctor.DoctorName}"></td>
		        <td th:text ="${doctor.Gender}"></td>
		        <td th:text ="${doctor.Qualification}"></td>
		        <td th:text ="${doctor.Specilization}"></td>
		        <td th:text ="${doctor.emailID}"></td>
		        <td th:text ="${doctor.Mobile}"></td>
		        <td th:text ="${doctor.City}"></td>
		        <td>
		        	<a  th:href = "@{/doctor/edit/{id}{id=${student.id}}" class = "btn btn- primary">update</a>
		        	
		        	<a  th:href = "@{/doctor/edit/{id}{id=${student.id}}" class = "btn btn- danger">Delete</a>
		        </td>
		    	
		    </tr>
		</tbody>
	</table>
</div>

</body>
</html>